# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress
cypress/screenshots/
cypress/videos/
cypress/reports/

# Dredd
docs/swagger.yaml
report.html

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml
